{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About</h1>

    <p class="lead">About Us</p>

    <p>Discover the juiciness of our hand-picked strawberries and the succulent charm of our ripe blueberries, perfect for your next culinary adventure or a healthy snack. Savor the soothing embrace of our carefully curated teas, each cup promising a serene escape from the daily hustle. And for the curious minds, explore our diverse range of textbooks, designed to enlighten and inspire learners at every level. Whether you're a food lover, a tea enthusiast, or a devoted scholar, our products are here to enhance your daily routine and enrich your experiences. Welcome to your one-stop shop for quality, freshness, and knowledge!</p>

{% endblock %}
